{{- if (eq (.Site.Params.disableComments | default false) false) -}}
    {{- if (eq (.Params.disableComments | default false) false) -}}
      <script src="https://giscus.app/client.js"
              data-repo="dreybuilds/comments"
              data-repo-id="R_kgDOO-3PXA"
              data-category="Announcements"
              data-category-id="DIC_kwDOO-3PXM4CrwMK"
              data-mapping="pathname"
              data-strict="0"
              data-reactions-enabled="1"
              data-emit-metadata="0"
              data-input-position="bottom"
              data-theme="{{ .Site.Params.giscusTheme }}"
              data-lang="en"
              crossorigin="anonymous"
              async>
      </script>
    {{- end -}}
{{- end -}}